body {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-center: 50px;
  background-color: #eee;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.logout {
  padding: 12px;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  border-width: 2px;
  border-style: solid;
}

.logout-success {
  color: black;
  text-align: center;
}

.table-user {
  border-collapse: collapse;
  text-align: center;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #FFFAF0;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
